<f:render partial="Atoms/Text/Heading/H1" arguments="{heading: 'Lorem Ipsum H1'}"/>
<f:render partial="Atoms/Text/Heading/H2" arguments="{heading: 'Lorem Ipsum H2'}"/>
<f:render partial="Atoms/Text/Heading/H3" arguments="{heading: 'Lorem Ipsum H3'}"/>
<f:render partial="Atoms/Text/Heading/H4" arguments="{heading: 'Lorem Ipsum H4'}"/>
<f:render partial="Atoms/Text/Heading/H5" arguments="{heading: 'Lorem Ipsum H5'}"/>
<f:render partial="Atoms/Text/Heading/H6" arguments="{heading: 'Lorem Ipsum H6'}"/>
